body{
	margin:0;
}
.container{
	width:1280px;
	margin:0 auto;
}

.banner{
	background-image:url("../images/hero_image.png"); 
	height:657px;
	background-size:cover;
	background-repeat:no-repeat;
}
header{
	height:136px;
	position:fixed;
	width:100%;
	z-index:1;
	background-color:rgb(138,192,229);
}
nav{
	font-size: 22px;
	text-align: right;
	font-family: "Montserrat";
	padding:20px;
}
#img_logo{
	float:left;
}
#img_logo:hover{
	transform:scale(1.05);
}
nav ul li{
	display: inline-block;
	text-align: center;
	margin:20px;
	color: #FFFFFF;
}
ul li:hover{
	cursor:pointer;
	transform:scale(1.15);
}
#small_btn{
	height: 54px;
	width:150px;
	font-size: 22px;
	color: #3693D6;
}
#large_btn{
	height: 68px;
	width:200px;
	font-size: 25px;
	color: #FFFFFF;
	background-color:#3693D6;
	float:right;
}
div.absolute {
  position: absolute;
  right:0;
  top: 500px;
  padding:20px;
}
button{
	border-radius: 45px;
	border: none;
	font-family: "Montserrat";
}
button:hover{
	cursor:pointer;
	transform:scale(1.05);
}

/*About*/
.about{
	background-color: #3693D6;
	color:#FFFFFF;
}
.about h2{
	font-size: 52px;
	font-style: semi-bold;
	text-align: center;
	font-family: "Montserrat";
	margin:0 auto;
	padding-top:100px;
}
.about p{
	font-size: 42px;
	font-family: "Montserrat";
	padding-bottom:100px;
	text-align: center;
}
.aboutpara{
	width:1268px;
	margin-left:auto;
	margin-right:auto;
}


/*ourwork*/
.ourwork h2{
	color: #3693D6;
	margin-top:100px;
	font-size:52px;
	text-align:center;
}
.gallery{
	padding-bottom:100px;
}
#img2{
	width: 502px;
	height: 300px;
}
#img1,#img3,#img4,#img5{
	width: 250px;
	height: 300px;
}

/*testimonial*/
.testimonial h2{
	color: #3693D6;
	text-align: center;
	font-family: "Montserrat";
	font-size:52px;
}
#img6{
  display: block;
  margin:0px auto 0px;
  border-radius:50%;
}
p,h2{
	font-family: "Montserrat";
}
.testimonial p{
	color: #3693D6;
	text-align: center;
	font-size:32px;
	padding-bottom:20px;
}
.username p{
	font-size:42px;
}

/*indicator*/
.dot{
	height: 25px;
	width: 25px;
	border-radius:50%;
	display: inline-block;
	background-color:#E2E2E2;
}
.dot:hover{
	background-color:#9BC0FF;
}

/*Cards*/
.card{
	background-color:#3693D6;
	margin-top:100px;
}
.sec{
	display:inline-block;
	margin:70px 18px 70px;
	vertical-align: middle;
}
.sec .card1{
	width:336px;
	border-radius:25px;
	background-color:white;
}
.card1:hover{
	cursor:pointer;
	transform: scale(1.04);
}
.cardimg{
	display: block;
	margin:20px auto 0px;
	padding:30px;
}
.sec p{
	font-size:18px;
	font-family:"Lato";
	color:color:#29313E;
	padding:15px;
}
.card-heading p{
	font-size:30px;
	font-style:bold;
	text-align:center;
}
.card-content p{
	font-size:24px;
	text-align:center;
}
.card-end p{
	font-size:24px;
	color:#3693D6;
	text-align:center;
}
#a1,#a2{
	cursor:pointer;
}

/*Message Form*/
.msg_form {
	padding-top:100px;
}
.msg_form h2{
	padding-left:200px;
}
#formtitle{
	font-size:40px;
	color:#29313E;
}
.right{
	width:50%;
	float:right;
}
.left{
	width:50%;
	padding-left:200px;
}
#fname, #fphone, #femail{
	height:60px;
	width:400px;
}
#fmsg{
	margin:15px 0px 0px 20px;
}
textarea{
	height:247px;
}
#submitbtn{
	width:200px;
	font-size:25px;
	height:68px;
	margin-top:50px;
	background-color:#3693D6;
	color:#FFFFFF;
}

input,#fmsg{
	width:400px;
	border-radius:5px;
	font-size:18px;
	font-family: "Montserrat";
	padding-left:15px;
	border: 1px solid #151D41;
}
.left input{
	margin:15px auto 15px;
}


/*Footer*/
.footer{
	margin-top:100px;
	background-color:#3693D6;
}
.footer h2{
	font-size:32px;
}
.footer p{
	font-size:22px;
}
.footersection{
	display: inline-block;
	color:white;
	padding:50px 0px 50px 30px;
	vertical-align:middle;
}
.footersection1{
	display:inline-block;
	vertical-align:top;
}
.footersection1{
	padding-left:50px;
}
.location{
	width:264px;
}
.mail{
	width:234px;
}
.phone{
	width:180px;
}
.icons{
	display:inline-block;
	padding:10px;
}
.icon:hover{
	cursor:pointer;
	transform:scale(1.1);
}